:root {
    --color-primary: #020302;
    --color-secondary: #001800;
    --color-variation: #00D93E;
    --color-light: #D1D0CB;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
}


.freestylers ul {
    display: inline-block;
}
.freestylers__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-top: 50px;
    border-radius: 2px;
    border: 2px solid var(--color-variation);
    box-shadow: 0 0 15px var(--color-variation);;
    background-color: var(--color-secondary);
    color: var(--color-light);
    list-style-type: none;
}
.freestylers__name {
    margin: 0;
}


.card {
    width: 250px;
    height: 60px;
    margin-top: 50px;
    border-radius: 2px;
}
.dragging {
    position: fixed;
}
